@{
}

<body style="background-image: url(../../img/blue1.jpg); background-repeat: no-repeat; background-position: center;">
    <div class="text-center">

        <h1 class="display-4" style="margin: 70px;">Hey Dustin, put the Calendar here!!</h1>
    </div>
        <p>
            This page will display the available times. Ignore the time slots on the
            SignUpGenius page. For our purposes, we will say the tours occur every hour on the
            hour from 8:00 am – 8:00 pm (i.e. the last tour starts at 8:00 pm.) Once the user selects a
            time, they are routed to a form that has the date info set, but allows the user to enter their
            info.

            March Madness is rigged!!!!
        </p>

</body>
