@{
    ViewData["Title"] = "Signup";
}


<body style="background-image: url(../../img/blue1.jpg); background-repeat: no-repeat; background-position: center;">
    <div class="text-center">

        <h1 class="display-4" style="margin: 70px;">Select a Time Slot</h1>
    </div>

    <form method="post" action="" class="form1" style="width: 700px;">
        <div class="flex-container">
            <div style="justify-content: center; align-items: center; margin: auto; justify-items: center; align-content: center; text-align: center;">
                 @foreach (TourTime t in ViewBag.Appointments) { 
                    @if (t.Taken == false) { 
                        <a asp-controller="Home" asp-action="Signup" asp-route-tourtimeid="@t.TourTimeId" style="width: 103px; text-align: center; glyph-orientation-horizontal: inherit; vertical-align: middle;" class="btn btn-outline-primary">@t.Time</a>
                        @if ((t.TourTimeId % 13 % 5) == 0)
                        {
                            @: <br /><br />
                        }
                        else
                        {
                            @: &nbsp;
                        }
                    }
                    else
                    {
                        <a asp-controller="Home" asp-action="Signup" asp-route-tourtimeid="@t.TourTimeId" style="width: 103px; text-align: center; glyph-orientation-horizontal: inherit; vertical-align: middle;" class="btn btn-outline-secondary disabled">@t.Time</a>
                        @if ((t.TourTimeId % 13 % 5) == 0)
                        {
                            @: <br /><br />
                        }
                        else
                        {
                            @: &nbsp;
                        }
                    }
                  }
            </div>
        </div>
    </form>
    <br /><br /><br /><br /><br />

</body>
