@{
}

<body style="background-image: url(../../img/blue1.jpg); background-repeat: no-repeat; background-position: center;">
    <div class="text-center">

        <h1 class="display-4" style="margin: 70px;">Select a Time Slot</h1>
    </div>
    <p>
        This page will display the available times. Ignore the time slots on the
        SignUpGenius page. For our purposes, we will say the tours occur every hour on the
        hour from 8:00 am – 8:00 pm (i.e. the last tour starts at 8:00 pm.) Once the user selects a
        time, they are routed to a form that has the date info set, but allows the user to enter their
        info.
    </p>

        <form method="post" action="" class="form1">
            <div class="flex-container">
                <div class="flex-child">
                    <h4>Monday</h4>
                    <button class="btn btn-outline-secondary" style="width: 93px;" disabled>8:00 AM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;" disabled>9:00 AM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary">10:00 AM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary">11:00 AM</button>
                    <br /><br />
                    <button class="btn btn-outline-primary">12:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">1:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">2:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">3:00 PM</button>
                    <br /><br />
                    <button class="btn btn-outline-primary" style="width: 93px;">4:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">5:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">6:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">7:00 PM</button>
                    <br /><br />
                    <button class="btn btn-outline-primary" style="width: 93px;">8:00 PM</button>
                </div>

                <div class="flex-child">
                    <h4>Tuesday</h4>
                    <button class="btn btn-outline-primary" style="width: 93px;">8:00 AM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">9:00 AM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary">10:00 AM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary">11:00 AM</button>
                    <br /><br />
                    <button class="btn btn-outline-primary">12:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">1:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">2:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">3:00 PM</button>
                    <br /><br />
                    <button class="btn btn-outline-primary" style="width: 93px;">4:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">5:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">6:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">7:00 PM</button>
                    <br /><br />
                    <button class="btn btn-outline-primary" style="width: 93px;">8:00 PM</button>
                </div>
            </div>

            <br />

            <div class="flex-container">

                <div class="flex-child">
                    <h4>Wednesday</h4>
                    <button class="btn btn-outline-primary" style="width: 93px;">8:00 AM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">9:00 AM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary">10:00 AM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary">11:00 AM</button>
                    <br /><br />
                    <button class="btn btn-outline-primary">12:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">1:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">2:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">3:00 PM</button>
                    <br /><br />
                    <button class="btn btn-outline-primary" style="width: 93px;">4:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">5:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">6:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">7:00 PM</button>
                    <br /><br />
                    <button class="btn btn-outline-primary" style="width: 93px;">8:00 PM</button>
                </div>

                <div class="flex-child">
                    <h4>Thursday</h4>
                    <button class="btn btn-outline-primary" style="width: 93px;">8:00 AM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">9:00 AM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary">10:00 AM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary">11:00 AM</button>
                    <br /><br />
                    <button class="btn btn-outline-primary">12:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">1:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">2:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">3:00 PM</button>
                    <br /><br />
                    <button class="btn btn-outline-primary" style="width: 93px;">4:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">5:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">6:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">7:00 PM</button>
                    <br /><br />
                    <button class="btn btn-outline-primary" style="width: 93px;">8:00 PM</button>
                </div>
            </div>

            <br />

            <div class="flex-container">

                <div class="flex-child">
                    <h4>Friday</h4>
                    <button class="btn btn-outline-primary" style="width: 93px;">8:00 AM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">9:00 AM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary">10:00 AM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary">11:00 AM</button>
                    <br /><br />
                    <button class="btn btn-outline-primary">12:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">1:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">2:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">3:00 PM</button>
                    <br /><br />
                    <button class="btn btn-outline-primary" style="width: 93px;">4:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">5:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">6:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">7:00 PM</button>
                    <br /><br />
                    <button class="btn btn-outline-primary" style="width: 93px;">8:00 PM</button>
                </div>

                <div class="flex-child">
                    <h4>Saturday</h4>
                    <button class="btn btn-outline-primary" style="width: 93px;">8:00 AM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">9:00 AM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary">10:00 AM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary">11:00 AM</button>
                    <br /><br />
                    <button class="btn btn-outline-primary">12:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">1:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">2:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">3:00 PM</button>
                    <br /><br />
                    <button class="btn btn-outline-primary" style="width: 93px;">4:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">5:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">6:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">7:00 PM</button>
                    <br /><br />
                    <button class="btn btn-outline-primary" style="width: 93px;">8:00 PM</button>
                </div>
            </div>

            <br />

            <div class="flex-container">

                <div class="flex-child">
                    <h4>Sunday</h4>
                    <button class="btn btn-outline-primary" style="width: 93px;">8:00 AM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">9:00 AM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary">10:00 AM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary">11:00 AM</button>
                    <br /><br />
                    <button class="btn btn-outline-primary">12:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">1:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">2:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">3:00 PM</button>
                    <br /><br />
                    <button class="btn btn-outline-primary" style="width: 93px;">4:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">5:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">6:00 PM</button>
                    &nbsp;
                    <button class="btn btn-outline-primary" style="width: 93px;">7:00 PM</button>
                    <br /><br />
                    <button class="btn btn-outline-primary" style="width: 93px;">8:00 PM</button>
                </div>
            </div>
        </form>
    <br /><br /><br /><br /><br />


</body>
