@{
    ViewData["Title"] = "Cancel Appointment";
}
@model MakeAppointment

<body style="background-image: url(../../img/blue2.jpg); background-repeat: no-repeat; background-position: center;">

    <h2>Confirm Cancellation</h2>
    <h3>Are you sure you want to cancel this appointment?</h3>

    <form method="post" asp-controller="Home" asp-action="Delete">
        <button type="submit" class="btn btn-danger btn-md">Delete</button>
        <a asp-controller="Home" asp-action="ViewAppointments" class="btn btn-primary">Go Back</a>

        <input type="hidden" asp-for="AppointmentId" />
        <input type="hidden" asp-for="TourTimeId" />
    </form>
</body>
