@{
    ViewData["Title"] = "MakeAppointment";
}

@model Mission12.Models.MakeAppointment

<div class="text-center">
    <h1 class="display-4">Signup Page</h1>
</div>

<div>
    <form method="post">
        <label asp-for="GroupName">Group Name:</label>
        <input asp-for="GroupName" /><br />

        <label asp-for="GroupSize">Group Size(Max 15):</label>
        <input asp-for="GroupSize" /><br />

        <label asp-for="Email">Email:</label>
        <input asp-for="Email" /><br />

        <label asp-for="Email">Phone:</label>
        <input asp-for="Phone" /><br />


        @* FIX THIS!! This should already be populated with the time that the user input *@
        <label asp-for="Phone">Tour Time:</label>
        <input asp-for="TourTime" /><br />

        <button type="submit">Submit</button>
    </form>
</div>