@{
    ViewData["Title"] = "Make Appointment";
}

@model Mission12.Models.MakeAppointment

<body style="background-image: url(../../img/blue1.jpg); background-repeat: no-repeat; background-position: center;">
    <br />

    @*Signup Form*@
    <div class="l-form" style="margin: 70px;">
        <form method="post" action="" class="form">
            <h1 class="form__title">Signup Form</h1>

        <div asp-validation-summary="All"></div>

        <div class="form__div">
            <input class="form__input" placeholder=" " asp-for="GroupName" />
            <label class="form__label" asp-for="GroupName">Group Name</label>
        </div>

        <div class="form__div">
            <input class="form__input1" placeholder=" " asp-for="GroupSize" min="1" max="15" />
            <label class="form__label1" asp-for="GroupSize">Group Size (Max 15)</label>
        </div>

        <div class="form__div">
            <input class="form__input2" placeholder=" " asp-for="Email" />
            <label class="form__label2" asp-for="Email">Email</label>
        </div>

        <div class="form__div">
            <input class="form__input3" placeholder=" " asp-for="Phone" />
            <label class="form__label3" asp-for="Phone">Phone</label>
        </div>

        @* FIX THIS!! This should already be populated with the time that the user input *@
        <div class="form__div">
            <label  asp-for="TourTimeId">Tour Time</label>
            <select class="form__input4" placeholder=" " asp-for="TourTimeId">
                <option value="">Select a Time</option>
                @foreach (TourTime t in ViewBag.Appointments)
                {
                    @if (t.Taken == false)
                    {
                        <option  value="@t.TourTimeId">@t.Time</option>
                    }
                    else
                    {
                        <option value="@t.TourTimeId" disabled>@t.Time</option>
                    }
                }
            </select>
            <input asp-for="TourTime.Taken"  type="hidden"/>
        </div>

        <button type="submit" class="form__button">
            Submit
        </button>
        
    </form>
</div>
</body>
<br />
<br />
<br />
